html,
body {
    margin: 0;
    padding: 0;
}

.main {
    height: 50vh;
    font-size: 30px;
    text-align: center;
    display: grid;

}

.main div {
    height: 150px;
    width: 150px;
}

.section-1 {
    background-color: red;
}

.section-2 {
    background-color: green;
}

.section-3 {
    background-color: blue;
}

.section-4 {
    background-color: yellow;
}