html, body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    background-color: rgb(134, 134, 134);
    display: grid;
    grid-template-areas:
        "sec1 sec1"
        "sec2 sec3" 
        "sec2 sec3" 
        "sec4 sec4"; 
    grid-template-columns: 80% 20%;
    grid-template-rows: 80px;
}

.section-1 {
    grid-area: sec1;
    background-color: red;
}
.section-2 {
    grid-area: sec2;
    background-color: blue;
}
.section-3 {
    grid-area: sec3;
    background-color: yellow;
}
.section-4 {
    grid-area: sec4;
    background-color: green;
}

